<div class = "container-md">
  <body>
    <h1>The World's Worst</h1>
    <p>
      Companies and corporations have seen unprecedented growth since the turn of the 20th century. Where once business was all privately owned, 
      and the loyalty of the company was to the people, many companies have since gone both global and public, with their loyalties now lying only with themselves.
      These entities now have power that rivals and even exceeds some governments, and they use their power to generate as much revenue for themselves as possible,
      regardless of the damage they do to societies and populations across the globe. My hope is that this program can both be informative and interactive,
      educating people about a serious threat to us that the media rarely, if ever covers.
    </p>
    <h3>Features</h3>
    <p>
      Some of the features of this program include:
      <ul>
        <li>An interactive list of companies, each with CRUD capability as well as association with their respective timelines.</li>
        <li>A search feature for the different companies</li>
        <li>The ability for users to submit their own companies to be included in the database</li>
        <li>An admin system that allows admins to approve / deny / edit submissions made by users</li>
        <li>A better looking user experience thanks to Bootstrap</li>
        <li>A basic layout, user logins, and other features already provided by the graces of Dr. Pulimood</li>
      </ul>
    </p>
    <h3>Upload Company</h3>
    <p>A main feature of this website is the communal uploading of information similar to wikipedia, or in this case something more similar to wikileaks. Try it out!</p>
    <%= link_to 'Add an entry to our database', companies_path, class:"btn btn-dark" %>
    <br><br>
    <h3>How to Run (For Admins)</h3>
    <p>Run rake db:migrate:reset, then rake db:create, and finally rails db:seed</p>
    <br>
    <h3>Special Thanks</h3>
    <p>I would like to thank Dr Pulimood for approving my project, as well as the help she and Kiera Gill gave me throughout the project. <br> In addition, I would like to thank the many underground sources of media / news that I subscribe to, as they are the groups that convinced me to make this program. <br> While I'm not comfortable naming names, those who know, know.</p>
  </body>
</div>
