<!--Basic page for rendering timeline, was not completed in time-->
<% company = Company.find(params[:id]) %>
<p> <%= company.name %></p>

<p>Timeline:</p>
<ul>
  <% company.events.each do |event| %>
    <li><%= event.title %></li>
  <% end %>
</ul>